trigger: none   # Pipeline sirf manually chalega

pool:
  name: 220925   # Tumhara custom agent pool

steps:
  # Step 1: Terraform install
  - task: TerraformInstaller@1
    displayName: "Install Latest Terraform"
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)\rgstgcodee25\provider_parents'
      backendServiceArm: 'agentportal'
      backendAzureRmResourceGroupName: 'rg24'
      backendAzureRmStorageAccountName: 'stg25'
      backendAzureRmContainerName: 'cont25'
      backendAzureRmKey: 'pass245'

  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)\rgstgcodee25\provider_parents'
      environmentServiceNameAzureRM: 'agentportal'

  
